<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- Content -->
    <div class="container-fluid">
        <!-- Brand -->
        <a href="#" class="navbar-brand SUTMintontext-gradient">SUTMinton</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse " id="navbarToggle">
            <ul class="nav nav-pills ms-auto">
                <li class="nav-item ">
                    <a href="/login" class="btn btn-primary custom-rounded custom-bg me-2">
                        เข้าสู่ระบบ
                    </a>
                </li>
                <li class="nav-item">
                    <a href="register" class="btn btn-primary custom-rounded custom-bg">
                        ลงทะเบียน
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>




