
.custom-rounded {
    border-radius: 20px; /* กำหนดค่าความโค้งที่ต้องการ */
}
.custom-bg {
    background-color: #ffffff; /* เปลี่ยนสีพื้นหลัง */
    color: #787FF6; /* เปลี่ยนสีตัวอักษร */
}
.custom-bg:hover {
    background-color: #ffffff; /* สีพื้นหลังเมื่อ hover */
}
.SUTMintontext-gradient {
    background: white; /* ไล่ระดับสีจากส้มไปฟ้า */
    -webkit-background-clip: text; /* ใช้สีพื้นหลังกับตัวอักษร */
    -webkit-text-fill-color: transparent; /* ทำให้พื้นหลังโปร่งใส */
    font-weight: bold;
}
.custom-nav .nav-link {
    color: #616161; /* สีของข้อความ */ 
    /*font-weight: bold; /* ตัวอักษรหนา */
    transition: color 0.3s; /* เพิ่มการเปลี่ยนสีแบบ smooth */
}
.custom-nav .nav-link:hover {
    color: #787FF6; /* สีเมื่อชี้เมาส์ */
    /*text-decoration: underline; /* ขีดเส้นใต้เมื่อ hover */
}
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* กำหนดเงา */
    background: linear-gradient(40deg, #787FF6, #7BD5F5);
}
.modal-content {
    border-radius: 30px; /* ปรับความโค้งตามที่คุณต้องการ */
}
.modal-footer {
    display: flex;
    justify-content: center;
  }
  .modal-footer .btn {
    color: white;
    background-color: #787FF6;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
  .modal-footer .btn:hover {
    background-color: #5756BB;
    color: #f8f9fa;
}
.modal-title {
    font-size: 2rem;
    background: linear-gradient(40deg, #787FF6, #7BD5F5); /* ไล่ระดับสีจากส้มไปฟ้า */
    -webkit-background-clip: text; /* ใช้สีพื้นหลังกับตัวอักษร */
    -webkit-text-fill-color: transparent; /* ทำให้พื้นหลังโปร่งใส */
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
}
.modal-body {
    display: flex; /* ใช้ Flexbox */
    flex-direction: column; /* จัดเรียงเนื้อหาในแนวตั้ง */
    justify-content: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
    align-items: center; /* จัดให้อยู่กึ่งกลางแนวนอน */
    min-height: 100%; /* ปรับความสูงให้อยู่กึ่งกลาง */
    padding: 20px; /* เพิ่มระยะห่างรอบๆ */
    width: 100%;
}
  
.myprofilephoto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* เพิ่มระยะห่างระหว่างรูปและฟอร์ม */
    margin-top: 300px;
}

.myprofilephoto img {
    border-radius: 50%; /* ทำให้รูปเป็นวงกลม */
}
.myprofilephototwo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* เพิ่มระยะห่างระหว่างรูปและฟอร์ม */
    
}

.myprofilephototwo img {
    border-radius: 50%; /* ทำให้รูปเป็นวงกลม */
}
  .text-left {
    text-align: left; /* จัดข้อความชิดซ้าย */
    padding-left: 10px; /* เพิ่มระยะห่างจากขอบซ้าย (ถ้าต้องการ) */
  }