<div class="container-fluid md">
  <div class="row mx-5 mb-3">
    <div class="col">
      <h2>โปรไฟล์ของฉัน</h2>
    </div>
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-success"><i class="bi bi-pencil-square"></i> แก้ไขโปรไฟล์</button>
    </div>
  </div>
  <form [formGroup]="profileForm" class="bg-white rounded-4 m-3 p-0">
    <div class="row m-0">
      <!-- ฝั่งซ้าย -->
      <fieldset class="col rounded-start-4 px-3 py-5 right-side">
        <!-- รูปโปรไฟล์ -->
        <div class="text-center mb-4">
          <img 
            *ngIf="imageSrc"
            [src]="imageSrc" 
            alt="Profile Image" 
            class="rounded-circle" 
            style="width: 175px; height: 175px;"
          >
        </div>

        <!-- ข้อมูลส่วนตัว -->
        <div class="row m-3">
          <div class="col">
            <label>ชื่อ</label>
            <input formControlName="firstName" class="form-control"/>
          </div>
          <div class="col">
            <label>นามสกุล</label>
            <input formControlName="lastName" class="form-control"/>
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
            <label>ชื่อบัญชีผู้ใช้งาน</label>
            <input formControlName="userName" class="form-control"/>
          </div>
        </div>
        <!-- <div class="row m-3">
          <div class="col">
            <label for="password" class="form-label">รหัสผ่าน</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password" />
          </div>
        </div> -->
      </fieldset>
      <fieldset class="col rounded-end-4 px-3 py-5 left-side">
        <div class="row m-3">
          <div class="col">
            <label>เบอร์ติดต่อ</label>
            <input formControlName="phoneNumber" class="form-control"/>
          </div>
          <div class="col">
            <label>อีเมล</label>
            <input formControlName="email" class="form-control"/>
          </div>
        </div>
        <div class="row m-3" style="padding: 12px;">
          <label>QR Code รับเงิน</label><br>
            <img 
              *ngIf="qrCodeSrc"
              [src]="qrCodeSrc" 
              alt="QR Code" 
              style="width: 240px; height: 320px; object-fit: cover;"
            >
        </div>
      </fieldset>
    </div>
  </form>
</div>