<app-nav></app-nav>
<div class="container-fluid text-center">
    <div class="row row-cols-2">
        <div class="col">
    <div class="card custom-card">
        <div class="card-header custom-header">
            จุดประสงค์และข้อตกลงการแจ้งข้อมูล
        </div>
        <div class="card-body custom-card-body">
            <blockquote class="blockquote mb-0 custom-blockquote">
                <p>1. เพื่อให้ผู้จัดทราบข้อมูลนักกีฬาเพราะอาจจะไม่รู้จักฝีมือทุกคนที่ลงแข่งขัน</p>
                <p>2. ลดการเอารัดเอาเปรียบฝีมือจากนักกีฬาที่ลงต่ำกว่าฝีมือตนเองเพื่อให้การแข่งขันสูสีที่สุดเท่าที่จะทำได้</p>
                <p>3. การแจ้งข้อมูลต้องเป็นข้อมูลที่เป็นจริงไม่กลั่นแกล้งกัน</p>
                <p>4. เพื่อพัฒนาให้ผู้แข่งหน้าใหม่เกิดขึ้นมาก ๆ ไม่เบื่อหน่ายการแข่งขันเนื่องจากมีนักกีฬาที่ลงแบบเอาเปรียบ</p>
                <p>5. ข้อมูลจะถูกเก็บเป็นความลับ</p>
            </blockquote>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card custom-card">
        <div class="card-header custom-header">
            แจ้งรายละเอียด
        </div>
        <div class="card-body custom-card-body">
            <form>
                <div class="mb-3">
                    <label for="detail" class="form-label">รายละเอียด:</label>
                    <input type="text" id="detail" placeholder="กรุณาแจ้งรายละเอียด" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>
