<app-nav></app-nav>
<div class="container-fluid fix-cont">
    <div class="row row-col">
        <div class="col-md-5 text-end">
            <div class="text-search">ค้นหา</div>
            <div class="text-tnm">ทัวร์นาเมนต์แบดมินตัน</div>
            <div class="text-web">เว็บไซต์รวบรวมรายการแข่งขันและจัดงานแข่งขันแบดมินตันทั่วประเทศไทย</div>
            <div class="twobtn gap-3">
                <button type="button" class="btn custom-btn-1 me-3">เข้าร่วมการแข่งขัน</button>
                <!-- [routerLink]="['/login-organizer']" เป็นการนำไปยังหน้า login-organizer -->
                <button type="button" class="btn custom-btn-2" [routerLink]="['/login-organizer']">จัดการแข่งขัน</button>
            </div>
        </div>
        <div class="col">
            <div class="row row-cols-2 ">
                <div class="col text-center">
                    <img src="play1.jpg" alt="Image Description" class="custom-img align-right">
                    <img src="play2.jpg" alt="Image Description" class="custom-img align-right">
                </div>
                <div class="col text-center">
                    <img src="play3.jpg" alt="Image Description" class="custom-img align-left">
                </div>
            </div>
        </div>
    </div>
</div>
