<app-nav></app-nav>
<div class="ext-box">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 side-image">
          <div>
            <img src="badminton-racket.jpg" alt="Image" width="100%" height="100%">
          </div>
        </div>
        <div class="col-md-6 right">
          <div>
            <div class="input-box">
              <header class="header">สร้างบัญชี</header>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="input-field">
                  <input type="text" class="input" id="firstName" name="firstName" formControlName="firstName" />
                  <label for="firstName">ชื่อจริง</label>
                </div>
                <div class="input-field">
                  <input type="text" class="input" id="lastName" name="lastName" formControlName="lastName" />
                  <label for="lastName">นามสกุล</label>
                </div>

                <div class="input-field">
                  <input formControlName="email" type="email" class="input" id="email" name="email"/>
                  <label for="email">อีเมล</label>
                </div>
                <div class="input-field">
                  <input formControlName="password" type="password" class="input" id="password" name="password"/>
                  <label for="password">รหัสผ่าน</label>
                </div>
                <div class="input-field">
                  <input type="text" class="input" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" />
                  <label for="phoneNumber">เบอร์โทร</label>
                </div>

                <div class="input-field">
                  <button type="submit" class="submit">ลงทะเบียน</button>
                </div>
                <div class="signin">
                  <span>
                    หากมีบัญชีแล้ว
                    <a routerLink="/login" routerLinkActive="active">คลิกเพื่อเข้าสู่ระบบ</a>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
