.dropzone {
    position: relative; /* ทำให้สามารถใช้ position absolute กับลูกๆ ได้ */
    width: 100%; /* ขยายกว้างทั้งคอนเทนเนอร์ */
    height: 300px; /* หรือความสูงที่คุณต้องการ */
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-size: cover; /* ปรับให้ภาพพื้นหลังเต็มพื้นที่ */
    background-position: center; /* จัดศูนย์กลางภาพพื้นหลัง */
}

.preview-img {
    position: absolute;
    width: 100%; /* ให้รูปภาพเต็มช่อง */
    height: 100%; /* ให้รูปภาพเต็มช่อง */
    object-fit: cover; /* ให้รูปภาพปรับขนาดพอดีกับช่องโดยไม่เสียสัดส่วน */
}

input[type="file"] {
    opacity: 0; /* ทำให้ input โปร่งใส */
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer; /* ทำให้เมื่อเอาเมาส์ไปวางแสดงเคอร์เซอร์แบบ pointer */
}

h2{
    font-size: 35px;
}

h3 {
    font-size: 28px;
    background: linear-gradient(to right, #787FF6 0%, #7BD5F5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to right, #787FF6 0%, #7BD5F5 100%);
    border-image-slice: 1;
  }

/* body{
    min-width: 768px;
} */