<div class="container-fluid text-center">
  <div class="card custom-card">
    <div class="card-header custom-header">
      ชำระเงิน
    </div>
    <div class="card-body custom-card-body">
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>ชื่องาน</th>
            <th>จังหวัด</th>
            <th>ประเภท</th>
            <th>ชื่อนักกีฬา</th>
            <th>ค่าธรรมเนียม(บาท)</th>
            <th>สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reg of registrations">
            <td>{{ reg.tournamentId.tourName }}</td>
            <td>{{ reg.tournamentId.province }}</td>
            <td>{{ reg.tournamentId.level }}-{{ reg.tournamentId.gender }}</td>
            <td>
                <ol style="margin:0; padding-left: 20px; text-align: left;">
                    <li *ngFor="let p of reg.players">
                        {{ p.firstName }} {{ p.lastName }}
                    </li>
                </ol>
            </td>
            <td>{{ reg.totalFee }}</td>
            <td>
                {{ reg.status }} <br>
                <button *ngIf="reg.status === 'รอชำระเงิน'" class="btn btn-sm btn-success mt-2"
                    (click)="onSelectSlip(reg._id)" (click)="onSelectQr(reg.tournamentId.organizerId.qrCode)" data-bs-toggle="modal" data-bs-target="#slipModal">
                    ชำระเงิน
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <!-- Modal แนบสลิป -->
<div class="modal fade" id="slipModal" tabindex="-1" aria-labelledby="slipModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-start">
      <div class="modal-header">
        <label>กรุณาสแกน QR Code เพื่อชำระเงิน</label><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center d-flex flex-column align-items-center">
        <div class="row m-3" style="padding: 12px;">
          <img *ngIf="qrCode"
               [src]="showQr()"
               style="width: 240px; height: 240px; object-fit: cover; margin-top: 8px;"
               alt="QR Code ของ Organizer" />
        </div>
        <input type="file" (change)="onFileChange($event)" accept="image/*" class="form-control" />
      </div>
      <div class="modal-footer">
        
        <button class="btn btn-danger" style="border-radius: 18px;" data-bs-dismiss="modal">ยกเลิก</button>
        <button class="btn btn-success details-btn" data-bs-toggle="modal" data-bs-target="#confirmModal">
  ยืนยัน
</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Confirmation -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">ยืนยันการทำรายการ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="ปิด"></button>
      </div>
      <div class="modal-body text-center d-flex flex-column align-items-center">
  <p>คุณต้องการยืนยันการทำชำระเงินนี้หรือไม่?</p>
  <img src="confirm.jpg" alt="Image Description" class="img-fluid mt-3" style="max-width: 300px; height: auto;">
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="border-radius: 18px;" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-success details-btn" (click)="confirmAction()" data-bs-dismiss="modal">
          ยืนยัน
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Toast แจ้งเตือน -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1055">
  <div id="paysuccessToast" class="toast align-items-center text-white bg-success border-0" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        ชำระเงินเรียบร้อยแล้ว
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>
